<% if (change_permission){ %>
	<table class="file-bar">
		<tr>
			<input 
				type="filepicker"
				data-fp-services="COMPUTER"
				data-fp-button-text="Add a File"
				data-fp-button-class="btn btn-info"
			>
		</tr>
	</table>
	<br>
<% } %>