<div id="left-items">
  <div class="header-item"><a href="#">Home</a></div>
  <div class="header-item"><a href="#profile">My Profile</a></div>
  <% if current_user.student? %>
    <div class="header-item"><a href="#my/programs/index">My Programs</a></div>
  <% end %>
  <div class="header-item"><a href="#campuses/index">Campuses</a></div>

</div>

<div id="right-items">
  <div class="header-item">Permission: <%= current_user.permission %></div>
  <div class="header-item">
    <%= button_to "Sign Out", session_url, method: :delete, class: "btn btn-warning"%>
  </div>
</div>

