<div class="collapse navbar-collapse pull-left" id="header">
  <div class="container">
    <ul>
      <li><a href="#">Home</a></li>
    </ul>
  </div>
</div>

<div class="pull-right">
  <%= button_to "Sign Out", session_url, method: :delete %>
  <a>Permission: <%= current_user.permission %></a>
</div>




