Welcome <%= current_user.first_name %> to Stanford College Student Space

<div id="alert"></div>

<div id="container">
</div>

<script>
  $(Scbt.initialize)
  var permission = "<%= current_user.permission %>"
  
  // var userId = "<%= current_user.id %>"
</script>
