<div id="banner">
   Welcome <%= current_user.first_name %> to Stanford College Student Space
</div>

<div id="view">
</div>

<script>
  currentUser = Scbt.Models.user = new Scbt.Models.User(
    <%= current_user.to_json({only: [:id, :permission]}).html_safe %>
  )
  $(Scbt.initialize)

  // Scbt.Models.user.fetch({success: function(){
  // }});us
  //
  // var permission = "<%= current_user.permission %>"
  // if (permission == "ADMIN" || permission == "MASTER_ADMIN"){
  //   permissionType = "admin"
  // } else {
  //   permissionType = permission.toLowerCase()
  // }
  // var userId = "<%= current_user.id %>"
</script>
