Welcome <%= current_user.email %> to Stanford College Student Space

<div id="alert"></div>

<div id="container">
</div>

<script>
  $(Scbt.initialize)
  var userPermission = "<%= current_user.permission %>"
  var userId = "<%= current_user.id %>"
</script>
