<h3 class="content">All Files</h3>

<div id="file-field" class="form-control">
	<input type="file">
	<button id="add-file" class="btn btn-primary" disabled="disabled">Add File</button>
</div>

<table class="table">
	<tr>
		<th>File Name</th>
		<th>File Size</th>
	</tr>

	<% files.each(function(file){ %>
		<tr>
			<td>
				<a href='<%= file.escape("url") %>'><%= file.escape("file_name") %></a>
			</td>
			
			<td align="right">
				<%= file.escape("file_size") %>
			</td>

			<td>
				<button id="<%= file.escape("id") %>" class="btn btn-danger remove-file">Remove</button>
			</td>
		</tr>
	<% }) %>
</table>

