<ul class="nav nav-pills nav-stacked">
  <li>
    <a href="#programs/<%= program.get("id") %>/announcements">
      Announcements
    </a>
  </li>

  <li>
    <a href="#programs/<%= program.get("id") %>/files">
      Files
    </a>
  </li>

  <li>
    <a href="#programs/<%= program.get("id") %>/surveys">
      Surveys
    </a>
  </li>
</ul>