<a href="#">Home</a> >
<a href="#surveys/index">Surveys</a> > 
<a href="#surveys/<%= survey.get("id") %>"><%= survey.escape("title") %></a><br>

<div id="show"></div>
<div id="questions"></div>
<table class="survey-list-table">
  <tr>
    <td id="program_hosts"></td>
    <td id="campus_hosts"></td>
    <td id="instructor_hosts"></td>
  </tr>
</table>