<h3><%= survey.escape('title') %></h3> 

<% if (Scbt.Models.user.admin()){ %>
	<div class="btn btn-info btn-head" id="edit-survey">Edit Survey</div>
<% } %>

<div><%= survey.escape('description') %></div>