<table class="tight-table">
	<tr>
		<td>
			<div class="input-group">
			  <span class="input-group-addon glyphicon glyphicon-search"></span>
			  <input id="campus-search" type="text" class="form-control" placeholder="Campus Filter">
			</div>
		</td>

		<td>
			<select id="campus-select" name="search[campus_id]" class="form-control "> place-holder="Campus Filter Select"
			</select>
		</td>
	</tr>
</table>

<table class="tight-table">
	<tr>
		<td>
			<div class="input-group">
			  <span class="input-group-addon glyphicon glyphicon-search"></span>
			  <input id="student-search" type="text" class="form-control" placeholder="Student Filter">
			</div>
		</td>

		<td>
			<select id="student-select" name="search[student_id]" class="form-control "> place-holder="student Filter Select"
			</select>
		</td>
	</tr>
</table>

<table class="tight-table">
	<tr>
		<td>
			<div class="input-group">
			  <span class="input-group-addon glyphicon glyphicon-search"></span>
			  <input id="program-search" type="text" class="form-control" placeholder="Program Filter">
			</div>
		</td>

		<td>
			<select id="program-select" name="search[program_id]" class="form-control "> place-holder="program Filter Select"
			</select>
		</td>
	</tr>
</table>





