<a href="#">Home</a> >
<a href="#profile">Profile</a> > 
<a href="#profile/password">Change Password</a><br>

<h3>Change Password</h3><br>
<form>
  <input type="password" name="user[old]"
    placeholder="Enter old password"
    class="form-control"
  </input>

  <input type="password" name="user[new]"
    placeholder="Enter new password"
    class="form-control"
  </input>

  <input type="password" name="user[new_confirm]"
    placeholder="Confirm new password"
    class="form-control"
  </input>

  <input 
    class="btn btn-primary btn-block"
    type="submit" value="Change Password">
    
</form>