<h1>Profile</h1> 
<a class="btn btn-info" href="#my/profile/edit">Edit Profile</a>

<table cellspacing="5" cellpadding="5">
  <tr>
    <td>First Name</td>
    <td><%= user.escape("first_name") %></td>
  </tr>
  
  <tr>
    <td>Last Name</td>
    <td><%= user.escape("last_name") %></td>
  </tr>
  
  <tr>
    <td>Email</td>
    <td><%= user.escape("email") %></td>
  </tr>
</table>
