<h1>Profile</h1>
<table border="1" cellspacing="5" cellpadding="5">
  <tr>
    <td>First Name</td>
    <td><%= user.escape("first_name") %></td>
  </tr>
  
  <tr>
    <td>Last Name</td>
    <td><%= user.escape("last_name") %></td>
  </tr>
  
  <tr>
    <td>Email</td>
    <td><%= user.escape("email") %></td>
  </tr>
</table>
<a href="#profile/edit">Edit Profile</a>