/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

#auth-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  > * {
    margin: auto;
  }
}

form {
  color: black;
  display: inline-block;
  input, select {
    margin-bottom: 15px;
    display: inline-block;
  }
}

h1, h2, h3 {
  vertical-align: center;
  display: inline-block;
}

#header {
  display: flex;
  height: 50px;
  background-color: #003282;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: white;
  a {
    color: white;
  }
  .header-item {
    margin: 10px;
    display: inline-block;
    margin: 10px;
  }
}

#banner {
  padding-left: 25px;
  padding-bottom: 5px;
}

#view {
  padding-left: 25px;
  padding-right: 25px;

  .nav-state {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #menu {
    width: 200px;
    padding: 0px;
    background-color: #F8F8F8;
    a {
      color: #787878; 
    }
  }

  #content {
    padding: 0px;
    padding-left: 20px;
    vertical-align: top;
    #file-field {
      height: auto;
      > * {
        vertical-align: middle;
        display: inline-block;
      }
    }
  }

  h3.content {
    margin: 0px;
    margin-bottom: 10px;
  }

  table {
    &.d1 {
      td:first-child {
        font-weight: bold; 
      }
    }
    td, th {
      padding: 10px;
      vertical-align: center;
    }
  }

  .btn-head {
    margin: 15px;
  }

  .btn {
    display: inline-block;
    vertical-align: center;
  }

  h5 #address {
    margin-top: 20px;
  } 
}







