// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
td {
  padding: 10px;
}

#banner {
  padding-left: 25px;
}

#content {
  padding: 25px;
}

h1, h3 {
  vertical-align: center;
  display: inline;
}

.btn-default {
  margin: 5px;
}

.btn-info {
  display: inline-block;
}

