<h3><%= campus.get('name') %></h3>
<table class="table" border="0" cellspacing="5" cellpadding="5">  
  <tr>
    <td>Manager</td>
    <td>
      <%= campus.manager.get("first_name") %> 
      <%= campus.manager.get("last_name") %>
    </td>
  </tr>
</table>

  