<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div 
    class="collapse navbar-collapse pull-right"     
    id="header">
      <%= render partial: "#{@controller}/header_items" if @controller %>
  </div>
</nav>